.cores{
    color: #ffd151ff;
    color: #183863ff;
    color: #ced3dcff;
    color: #aba9c3ff;
    color: #566246ff;
    color: #09080c;
    color: #f4f4ec;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-color:#ecf1f4;
    /* background-color: #0a66c298; */
    /* scroll-behavior: smooth; */
}
section{
    padding-top: 40px;
    /* padding-bottom: 30px; */
}
.areapcem{
    width: 70%;
    margin: 0 auto;
    border-bottom: #00000035 px solid;
}
h2{
    font-weight: normal;
    font-size: 32px;
    cursor: default;
    margin-bottom: 30px;
}


/* ....... Header ....... */
header{
    display: flex;
    align-items: center;
    background-color:#f4f4ec;
    position: fixed;
    width: 100%;
    border-bottom: #00000035 1px solid;
    height: 30px;
    
}
header>.areapcem{ 
    border-bottom: none; /*Retirando borada extra*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 2px;
}
.logo_nome{
    display: flex;
    align-items: center;
    color: #0A66C2;
    font-weight: 600;
    font-size: 16px;
    /* border: 1px springgreen solid; */
}
.logo_nome:hover{
    color: #0A66C2;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 2px 2px #0a66c228;
}
.logo_nome svg{
    height: 10px;
    margin-right: 2px;
}
.header_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    /* border: 1px springgreen solid; */
}
.header_links a/*, .botoes_projeto a*/{
    color: #0A66C2;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    transition: 200ms;
}
.header_links a:hover/*, .botoes_projeto a:hover*/{
    color: white; 
    background-color: #0a66c2c0;
    padding: 3px;
    border-radius: 3px;
}



/* ....... Apresentação ....... */
#apresentacao{
    padding-top: 0px;
    /* background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(70,252,251,1) 100%); */
    background: linear-gradient(180deg, rgba(68,127,217,1) 0%, rgba(142,173,175,1) 100%);
    background-attachment: fixed;
    border-bottom: #00000035 0.5px solid;
}
#apresentacao .areapcem{
    display: flex;
    align-items: center;
    border-bottom: none;
    justify-content: space-around;
    height: 100vh;
}
#apresentacao figure{
    max-width: 40%;
}
#apresentacao figure img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.39);
}
#apresentacao .banner_texto{
    max-width: 60%;
    padding-right: 20px;
}
#apresentacao h1, h2{
    font-size: 48px;
    /* color: #558cc4; */
    color: rgba(142,173,175,1);
    cursor: default;
    text-shadow: 1px 1px 0px black;
}
#apresentacao h1 span{
    font-size: 56px;
    color: #0A66C2;
    /* color: #183863ff; */
}
#apresentacao p{
    font-size: 20px;
    color: #0A66C2;
    font-weight: 700;
    cursor: default;
    text-shadow: 1px 1px 0px rgb(61, 61, 61);
}
#apresentacao .banner_texto nav{
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}
#apresentacao .redes_contato{
    /* background-color: transparent; */
    /* mask-border: unset; */
}
#apresentacao .redes_contato svg{
    /* background-color: transparent; */
    height: 36px;
    margin: 0 2px;
    color: rgba(142,173,175,1);
    /* padding-bottom: 10px; */
    /* border-bottom: #00000035 5px solid; */
    /* border-radius: 0 0 5px 5px ; */
    /* border-radius: 15%; */
    /* box-shadow: 0px -10px 5px -8px inset; */
    /* mask-mode: alpha; */
}
#apresentacao .redes_contato .fa-whatsapp:hover,.fa-whatsapp:hover{
    color:#23c960;
}
#apresentacao .redes_contato .fa-github:hover,.fa-github:hover{
    color: #410093;
}
#apresentacao .redes_contato .fa-linkedin:hover,.fa-linkedin:hover{
    color: #0A66C2;
}
#apresentacao .redes_contato .fa-instagram:hover,.fa-instagram:hover{
    color: #e1306c;
}
#apresentacao .redes_contato .fa-file-pdf:hover,.fa-file-pdf:hover{
    color: #CD201F;
}



/*   .......   Sobre   .......   */
#sobre{
    /* height: 100vh; */
    /* display: none; */
}
#sobre .areapcem{
    height: 100%;
}
.sobre .blocos_sobre{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    /* margin-top: 20px; */
    /* padding-bottom: 30px; */
    /* border: #23c960 solid; */
}
.sobre .bloco_sobre{
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px #09080c;
    border-radius: 15px;
    background-image: url("imagens/pexels-kevin-ku-577585.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bloco_sobre_texto{
    /* padding: 50px 50px; */
}
.sobre .bloco_sobre_texto{
    margin: 50px 150px;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 30px;
    /* color: rgba(142,173,175,1); */
    color: #0A66C2;
    font-weight: bold;
    background-color: #ffffffd7;
    /* border: #23c960 1px solid; */
}
.sobre .bloco_sobre_texto .trabalho{
    color:#0A66C2;
    font-size: 24px;
    margin-bottom: 15px;
}


/* .......    Projetos    ....... */
#projetos{
    
}
.blocos_projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: #23c960 solid; */
    gap: 15px;
}
.bloco_projeto{
    display: block;
    /* background: rgba(142,173,175,1); */
    border-radius: 10px;
    width: 48%;
    height: 500px;
    /* box-shadow: 0 0 20px 1px #00000035; */
}
.bloco_projeto .lateral_bloco{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px springgreen solid; */
    height: 40%;

}
.texto_projeto{
    /* border: blue solid; */
    height: 55%;
}

.bloco_projeto p:first-child{
    font-weight: 600;
    /* color: rgba(142,173,175,1); */
    margin-top: 10px;
    font-size: 24px;
    line-height: 160%;
    text-shadow: 0.5px 0.5px 10px #00000035;
}
.bloco_projeto p:last-child{
    font-size: 16px;
    line-height: 160%;
}

.tecnologias_projeto{
    /* border: grey solid; */
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tecnologias_projeto svg{
    height: 70%;
    color: #0A66C2;
    margin-right: 10px;
}
.tecnologias_projeto img{
    display: none;
}
.botoes_projeto{
    height: 25%;
    /* border: red solid; */
    display: flex;
    padding: 8px 0;
}
.botoes_projeto a{
    color: #0A66C2;
    margin-right: 10px;
    background-color: #00000035;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    transition: 200ms;
}
.botoes_projeto a:hover{
    color: white; 
    background-color: #0a66c2c0;
}
.bloco_projeto figure{
    height: 60%;
    /* border: red solid; */
}
.bloco_projeto figure img{
    width: 100%;
    /* margin: auto; */
    object-fit: cover;
    border-radius: 15px;
    /* border: 2px solid #566246ff; */
}





.certificado_curso h3{
    font-size: 24px;
    margin: 15px 0px;
}
.curso{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* align-items: flex-end; */
    overflow-x: auto;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    height: 350px;
    /* border: #23c960 solid; */
}
.bloco_certificados{
    width: 100%;
}
.certificado_curso figure{
    /* width: 450px; */
}
.certificado_curso img{
    width: 250px;
    height: 150px;
    /* margin-right: 20px; */
    margin: 0 15px;
    object-fit: cover;
    width: 350px;
    height: 250px;
}
.certificado_curso img:hover{
    /* width: 450px;
    height: 300px; */
}
.certificado_curso figure figcaption{
    font-size: 14px;
    padding-top: 15px;
    max-width: 350px;
    margin: 0 auto;
    font-weight: 600;
}


.contatos{
    height: 90vh;
}
.contatos .dados_contato{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 30px;
    /* border: greenyellow solid; */
    background: linear-gradient(180deg, rgba(68,127,217,1) 0%, rgba(142,173,175,1) 100%);    color: #ffffffd7;
    font-weight: 700;
    color: #ffffffd7;
}
.dados_contato a{
    color: #ffffffd7;
}
.dados_contato .meus_dados{
    width: 60%;
}
.dados_contato .meus_dados div{
    margin-bottom: 15px;
}
.dados_contato .meus_dados div p:nth-child(2),
.dados_contato .meus_dados div a:nth-child(2),
.dados_contato .meus_dados div nav a{
    font-size: 24px;
    line-height: calc(24px * 1.6);
    margin-left: 10px;
}

.dados_contato form{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* border: red solid; */
}
.dados_contato form input,
.dados_contato form textarea{
    padding: 5px;
    margin: 5px;
    background: #ffffffd7;
}
.dados_contato .botao_enviar{
    width: 100%;
    /* margin: 0 25%; */
    color: #0A66C2;
    margin-right: 10px;
    background-color: #ffffffd7;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    transition: 200ms;
}
.dados_contato .botao_enviar:hover{
    color: white; 
    background-color: #0a66c2c0;
}


footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A66C2;
    color: #ffffffd7;
    font-weight: 700;
    font-size: 12px;
}



